<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
    <form action="javascript:void(0)">
        {% csrf_token %}
        <h1>OFFICE Form</h1>
        {{officeForm.as_p}}
        <input type="submit" value="save office">
    </form>
     <form action="javascript:void(0)">
        {% csrf_token %}
        <h1>EMPLOYEE Form</h1>
        {{employeeForm.as_p}}
        <input type="submit" value="save Employee">
    </form>
</body>
<script>

</script>
</html>