<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
    <form action="#" id="officeForm">
        <h1>OFFICE Form</h1>
        {{officeForm.as_p}}
        <input type="submit" value="save office">
    </form>
     <form action="javascript:void(0)" id="employeeForm">
        <h1>EMPLOYEE Form</h1>
        {{employeeForm.as_p}}
        <input type="submit" value="save Employee">
    </form>
</body>
<script>
    $(document).ready(function(){
        console.log('ready');
    })
    function onOfficeSubmit(event){
        event.preventDefault();
        console.log($(this).serializeArray());
    }
    function onEmployeeSubmit(){}
    $("#officeForm").submit(onOfficeSubmit)
    $("#employeeForm").submit(onEmployeeSubmit)
</script>
</html>